<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFileDirectory" value="c:\Logs\" />
    <add key="ReleaseNumber" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="ComponentName" value="Main" />
    <add key="SuiteName" value="PersDelete" />
    <add key="LoggingLevel" value="Debug" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>